@import "mixins";

.directive__user-search {
  margin-top: 35px;
  .search-input-wrapper {
    border-bottom: 2px solid #9391F3;
    cursor: text;
    .selected {
      display: inline-block;
      .item {
        display: inline-block;
        padding: 5px 10px;
        height: 100%;
        margin-right: 5px;
        background: #6B71D6;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 12px;
        position: relative;
        span {
          overflow: hidden;
          white-space: nowrap;
        }
        .close {
          position: absolute;
          top: -3px;
          right: -3px;
        }
        &.ng-leave.ng-leave-active,
        &.ng-move,
        &.ng-enter {
          opacity: 0;
          max-width: 0;
        }
        &.ng-leave,
        &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
          opacity: 1;
          max-width: 200px;
        }
      }
    }
    input {
      height: 40px;
      background: transparent;
      color: #9e9e9e;
      font-size: 16px;
      border: none;
      outline: none;
      @include placeholder {
        color: #9e9e9e;
        font-weight: normal;
        font-size: 16px;
      }
    }
    .cssload-container {
      float: right;
      margin-top: 12px;
      margin-right: 10px;
    }
  }
  .search-input-hint {
    text-align: center;
    font-size: 13px;
    color: #C1C1C1;
    padding: 7px 0;
  }
  .search-results-wrapper {
    margin-top: 20px;
    .visibility {
      margin-right: 12px;
      text-align: center;
      .icon-wrapper {
        width: 62px;
        height: 62px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
      }
    }
    .nothing-found {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 27px;
      color: #C1C1C1;
      span {
        font-size: 60px;
        animation: point-up-down 1s linear infinite alternate;
      }
      h1 {
        font-weight: normal;
        font-size: 28px;
        margin: 12px 0;
      }
      &.ng-leave.ng-leave-active,
      &.ng-move,
      &.ng-enter {
        opacity: 0;
        max-height: 0;
      }
      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        opacity: 1;
        max-height: 300px;
      }
    }
    .items-list {
      &.ng-leave.ng-leave-active,
      &.ng-move,
      &.ng-enter {
        opacity: 0;
        max-height: 0;
      }
      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        opacity: 1;
        max-height: 200px;
      }
      .item {
        color: #C1C1C1;
        border-radius: 2px;
        border-bottom: 2px dashed;
        padding-bottom: 18px;
        display: flex;
        &:not(:first-child) {
          padding-top: 10px;
        }
        .repo-info {
          display: flex;
          width: 826px;
          .left {
            width: 70%;
            .repo-name {
              padding: 8px 0;
              font-size: 18px;
              color: #5A5959;
              font-weight: bold;
            }
            .repo-desc {
              font-size: 13px;
            }
          }
          .right {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: 15px;
              span:not(.value) {
                font-size: 30px;
                margin-bottom: 4px;
              }
              .value {
                text-align: center;
                font-weight: bold;
              }
            }
            .stars {
              span:not(.value) {
                color: rgb(241, 164, 63);
              }
            }
            .branches {
              span:not(.value) {
                color: rgb(13, 171, 35);
              }
            }
          }
        }
      }
      .loading {
        text-align: center;
        margin: 15px 0;
        .cssload-container {
          height: 30px;
          .cssload-speeding-wheel {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  .users-list-wrapper {
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      opacity: 0;
      max-height: 0;
    }
    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
      opacity: 1;
      max-height: 200px;
    }
    .item {
      display: flex;
      position: relative;
      &.ng-leave.ng-leave-active,
      &.ng-move,
      &.ng-enter {
        opacity: 0;
        max-height: 0;
      }
      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        opacity: 1;
        max-height: 200px;
      }
      &:not(:first-child) {
        margin-top: 30px;
        padding-top: 15px;
        border-top: 2px dashed #C1C1C1;
        .close-big {
          top: 15px;
        }
      }
      .close-big {
        position: absolute;
        right: 0;
        top: 0;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .main-info {
          .name {
            font-size: 25px;
            color: #5A5959;
          }
          .nick {
            color: #C1C1C1;
          }
        }
        .stats {
          .stat {
            font-size: 12px;
            color: #C1C1C1;

            padding-right: 9px;
            border-right: 1px solid;
            display: inline-block;
            span {
              font-size: 40px;
              color: #9391F3;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }
}